@tailwind base;
@tailwind components;
@tailwind utilities;

#lessons .carousel-item {
    min-width: 100%;
    max-width: 100%;

}

@media (min-width: 768px) {
    #lessons .carousel-item {
        min-width: calc(25% - 2rem);
        max-width: calc(25% - 2rem);
    }
}

#connect {
    max-width: 100%
}



